@model SGDApi.Models.LogActividades

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LogActividades</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogActividadFecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogActividadFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogActividadAccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogActividadAccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Task)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Task.TaskId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuarios.UsuarioContrasena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LogActividadId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
