@model SGDApp.Models.ComunicacionesOficiales

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ComunicacionesOficiales</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommunicationContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommunicationContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
