@model SGDApi.Models.Area

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Area</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaUltimaRevision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaUltimaRevision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaOrigen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaOrigen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuariosModificacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuariosModificacion.UsuarioContrasena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuariosCreador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuariosCreador.UsuarioContrasena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AreaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
