@model IEnumerable<SGDApp.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltimaRevision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaOrigen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuariosId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCreador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltimaRevision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOrigen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuariosId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCreador)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.TaskId }) |
                @Html.ActionLink("Details", "Details", new { id=item.TaskId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.TaskId  })
            </td>
        </tr>
}
    </tbody>
</table>
